footer.footer
 div
  | © 2019-2020 airSlate Inc. All rights reserved. Your use of this site is a subject to <a class="footer__link" href="" title="Terms of Service">Terms of Service</a> and <a class="footer__link" href="" title="Privacy Policy">Privacy Policy</a>.
