div.tiles
  div.tiles__item
    div.tiles__item-content
      div.tiles__item-line
        span.tiles__item-line-strong 20<sup>%</sup>
        span comission
      div.tiles__item-line
        span.tiles__item-line-strong $123
        span earned
    svg.tiles__item-icon
      title AirSlate logo
      use(xlink:href='#air-slate')
  div.tiles__item
    div.tiles__item-content
      div.tiles__item-line
        span.tiles__item-line-strong 20<sup>%</sup>
        span comission
      div.tiles__item-line
        span.tiles__item-line-strong $345
        span earned
    svg.tiles__item-icon
      title PDFfiller Logo
      use(xlink:href='#pdf-filler-color')
  div.tiles__item
    div.tiles__item-content
      div.tiles__item-line
        span.tiles__item-line-strong 20<sup>%</sup>
        span comission
      div.tiles__item-line
        span.tiles__item-line-strong $678
        span earned
    svg.tiles__item-icon
      title SignNow Logo
      use(xlink:href='#sign-now-color')
