// colors
$font-color-default: #414141 !default;
$font-color-light: #808080 !default;

$divider: #e9e9e9 !default;
$border-default: #d4d4d4 !default;

$table-header: f9f9f9 !default;

$white-bg: #fff !default;

$body-bg: #f7f8fa !default;
$header-bg: #fff !default;
$footer-bg: #fff !default;

$menu-color: #767676 !default;
$active-item-color: #ff9000 !default;
$link-color: #45688f !default;
$button-color: #fff !default;

// font-size
$font-size-default: 14px !default;
$font-size-small: 12px !default;

// layout
$header-height: 56px !default;
$footer-height: 56px !default;
